

<h1>Sarah Lee</h1>
<%= image_tag("SarahLeeHeadshot.jpg") %>
<iframe src="https://player.vimeo.com/video/176806241?autoplay=0&loop=1" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>