<h1>RESUME</h1>	
<div class="row">
<% @resume_details.each do |resume_details| %>
	<%= render "pages/resume/resume_details", resume_details: resume_details %>
<% end %>


</div>
	<div>
		<h2>Training</h2>		
		American Conservatory Theatre - STC intensive: Lisa Anne Porter, Stephanie Hunt, Mark Jackson, Jessica Berman, Chris Herold, Kimberly Maclean, Letitia Bartlett, Janet Foster
		Meisner Technique Studio: Jim Jarrett, Melissa Thompson
		UC San Diego: Kim Rubinstein, Jim Winker, Charlie Oates, Eva Barnes, Ursula Meyer, Kim Walsh, Rufio Lerma

		<h2>Additional Skills</h2>
		<p>40-hour Trained Domestic Violence Peer Counselor, Fluent Mandarin, Basic Taiwanese, Driver’s License, Yoga, Contemporary Voice, Can Read Sheet Music, Intermediate piano skills, British RP accent, Boston accent</p>

		<h2>Education</h2>
		<p>B.S. General Biology/ Theater minor, Provost’s Honor from UC San Diego</p>
	</div>
</div>